   /*Navigation Bar */
  /* Remove margins and padding from the list, and add a black background color */
ul.navbartop {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Float the list items side by side */
ul.navbartop li {float: left;}

/* Style the links inside the list items */
ul.navbartop li a {
    display: inline-block;
    color: #f3f3f3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    font-family:cursive;
    font-style:italic;
}

/* Change background color of links on hover */
ul.navbartop li a:hover {background-color: #399;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.navbartop li.icon {display: none;}

.center {
padding:25px;
font-family:cursive;
font-style:italic;
 }

h1 {
text-align:center;
padding:5px 5px 5px 5px;
font-family:cursive;
font-style:italic;

 }
