<!DOCTYPE html>
<html ng-app="myModule">
<head>
	  <title>Rosary Description</title>
	  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
	  <link rel="stylesheet" type="text/css" href="../CSS/app.css"></link>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	  <script src="../js/app.js"></script>
	    <ul class="navbartop">
  <li><a class="dropdown" href="../HTML/index.html">Home</a></li>
  <li><a href="#learn">Learn about the Rosary</a></li>
  <li><a href="#about">The Seven Sorrows Rosary</a></li>
  <li><a href="/index.ejs">Put In A Prayer Request</a></li>
  <li><a href="#pray">Pray A Rosary</a></li>
  <li class="icon">
  	  <a href="javascript:void(0);" onclick="respNavBar()">&#9776;</a>
	</li>
  </ul>
 </head>
 <body>

 <h1>What are the origins of the Rosary?</h1>
 <p class="center">
  There are several stories of how the Rosary originated. There is evidence of it appearing even in Pre-Christian times,
  in which repeated prayers and beads were used to help someone meditate. There is even evidence from the Middle Ages that
  these strings of prayer beads were used to say Our Fathers and Hail Marys. The strings of beads used to say these prayers
  became known as "Paternosers", which means "Our Father."</p>
  		<p class="center"> Between the 12th and 15th centuries, the structure of the rosary evolved and now 50 "Hail Marys" were recited along with
the Our Fathers. The 50 Hail Marys were recited with either reflections of the lives of Jesus and Mary, or with verses of the psalms.
This form of prayer became known as the rosarium(which means "rose garden"). This was a common term during this time that
was used to designate collections of similar things, for example a collection of stories about the same subject.When the 16th
century rolled around, a structure of the five decade rosary based on three sets of mysteries(Joyful, Glorious,and Sorrowful)
flourished. However, the most accepted origin of the rosary is associated with St.Dominic.</p>
			<p class="center">Tradition holds that St.Dominic devised the rosary as we know it. Deeply moved
		by a vision of our Blessed Mother, he preached about the use of the rosary in his missionary work, and
		in his sermons.However, some scholars believe that this origin is a little sketchy - early accounts of
		St.Dominic's life do not mention the Rosary, Dominican records don't associate him with it, and
		many contemporary portraits don't include as a means to identify the saint. The rosary seems to have
		been developed over a long and gradual process, being developed over many centuries. However, many
		popes have associated St.Dominic with the rosary, stating "If nothing else, his role is at least a 'pious belief'"</p>

	<h1>Mysteries of the Most Holy Rosary</h1>
	 <h2>The are four sets of mysteries for the most Holy Rosary:</h2>
	<ul class="center">
		 <li>The Sorrowful Mysteries</li>
		 <li>The Joyful Mysteries</li>
		 <li>The Glorious Mysteries</li>
			<li>The Luminous Mysteries</li>
		</ul>

	<h2>Each with their own set of mysteries to think about and contemplate on:</h2>
<div class="padds">
 <h2>The Sorrowful Mysteries</h2>
 			<li class="mystery">First Sorrowful Mystery: The Agony in the Garden</li>
			   Meditation:
					<div class="mystery">In His anguish, He prayed with all the greater intensity, and His sweat
						became like drops of blood falling to the ground.The He rose from prayer and came to His
						disciples, only to find them asleep, exhausted with grief(Lk 22:44-45)</div>
			<li class="mystery">The Second Sorrowful Mystery:The Scourging at the Pillar</li>
					Meditation:
					<div class="mystery">Pilate's next move was to take Jesus and have Him scourged(Jn 19:1)</div>
			<li class="mystery">The Third Sorrowful Mystery:The Crowning With Thorns</li>
			Meditation:
					<div class="mystery">They stripped off His clothes and wrapped Him in a scarlet military cloak.
						Weaving a crown out of thorns they fixed it on His head, and stuck a reed in His right hand(Mt 27: 28 - 29)</div>
				<li class="mystery">The Fourth Sorrowful Mystery:The Carrying Of The Cross</li>
				Meditation:
				<div class="mystery">...Carrying the cross by Himself, He went out to what is called the Place of the Skull.
					(In Hebrew, this was known as  Golgotha)(Jn 19:17)</div>
				<li class="mystery">The Fifth Sorrowful Mystery:The Crucifixion></li>
				Meditation:
				<div class="mystery">Jesus uttered a loud cry and said, "Father, into Your hands I commend My Spirit."
					After He said this, He expired.(Lk 23:46)</div>
			</div>
<div class="padds">
	<h2>The Glorious Mysteries</h2>
			<li class="mystery">The First Glorious Mystery:The Resurrection</li>
				Meditation:
			<div class="mystery">You need not be amazed! You are looking for Jesus of Nazareth, the one
				who was crucified.He has been raised up; He is not here.See the place where they laid Him.
				(Mk 16:6)</div>
				<li class="mystery">The Second Glorious Mystery: The Ascension</li>
				Meditation:
				<div class="mystery">Then, after speaking to them, the Lord Jesus was taken up into heaven
					and rook His seat at God's right hand.(Mk 16:19)</div>
				<li class="mystery">The Third Glorious Mystery:The Descent of The Holy Spirit</li>
				Meditation:
				<div class="mystery">All were filled with the Holy Spirit.They began to express themselves
					in foreign tongues and make bold proclamation as the Spirit prompted them.(Acts 2:4)</div>
				<li class="mystery">The Fourth Glorious Mystery:The Assumption of Our Lady</li>
				Meditation
				<div class="mystery">You are the glory of Jerusalem...you are the splendid boast of our people..
					God is pleased with what you have wrought.May you be blessed  by the Lord almighty forever
					and ever.(Jth 15: 9 - 10)</div>
				<li class="mystery">The Fifth Glorious Mystery:The Cornoation of Our Lady</li>
				Meditation:
				<div class="mystery">A great sign appeared in the sky, a women clothed with the sun, with the
					moon under her feet, and on her head a crown of twelve stars.(Rev 12:1)</div>
			</div>
		<div class="padds">
			<h2>The Joyful Mysteries</h2>
			<li class="mystery">The First Joyful Mystery: The Annunciation</li>
			Meditation:
			 <div class="mystery">And when the angel had come to her, he said, 'Hail, full of grace, the Lord
				 is with you'(Lk: 1:28)</div>
				<li class="mystery">The Second Joyful Mystery:The Visitation</li>
				Meditation:
				<div class="mystery">Elizabeth was filled with the Holy Spirit and cried out in a loud voice:
					"Blest are you among women and blest is the fruit of your womb.(Lk:1:41 - 42)</div>
				<li class="mystery">The Third Joyful Mystery:The Birth of Jesus</li>
				Meditation:
				<div class="mystery"> She gave birth to her first born Son and wrapped Him in swaddling clothes
					and laid Him in a manger, because there was no room for them in the place where travelers lodged.
					(Lk 2:7)
					<li class="mystery">The Fourth Joyful Mystery:The Presentation</li>
					Meditation
					 <div class="mystery">When the time came to purify them according to the law of Moses, the couple
						 brought Him up to Jerusalem so that He could be presented to the Lord, for it is written in the law of the Lord,
						 "Every first born male shall be consecrated to the Lord.(Lk2:22 - 23)</div>
						<li class="mystery">The Fifth Joyful Mystery:The Finding of The Child Jesus in the Temple</li>
						<div class="mystery">On the third day they came upon Him in the temple sitting in the midst of the
							teachers, listening to them and asking them questions.(Lk 2:46)</div>
					</div>
			<div class="padds">
				<h2>The Luminous Mysteries</h2>
				<li class="mystery">The First Luminous Mystery:The Baptism of Jesus in the Jordan</li>
				Meditation:
				<div class="mystery">And when Jesus was baptized, the heavens were opened and He saw the
					Spirit of God descending like a dove, and alighting on Him, and lo, a voice from heaven
					saying "This is my beloved son, with whom I am well pleased." (Mt 3: 16 - 17)</div>
				<li class="mystery">The Second Luminous Mystery: The Wedding Feast at Cana</li>
				Meditation:
				<div class="mystery">His mother said to the servants," Do whatever He tells you". Jesus said
					to them, "Fill the jars with water." And they filled them to the brim.(Jn 2: 5 - 7)</div>
				<li class="mystery">The Third Luminous Mystery: The Proclamation of the Kingdom</li>
				Meditation:
				<div class="mystery">"And preach as you go, saying, 'The Kingdom of Heaven is at hand.'Heal
					the sick, raise the dead,cleanse the lepers, cast out demons.You recieved without pay, give without
					pay."(Mt 10:7 - 8)</div>
					<li class="mystery">The Fourth Luminous Mystery: The Transfiguration</li>
					Meditation:
					<div class="mystery">And as he was praying, the appearance of his countenance was altered
						and His raminent became dazzling white. And a voice came out of the cloud saying, "This
						is my beloved Son,my chosen, listen to Him!"(Lk 9:29,35)</div>
					<li class="mystery">The Fifth Luminous Mystery: The Institution of the Eucharist</li>
					Meditation:
					<div class="mystery">And He took bread, and when he had given thanks He broke it and gave
						it to them saying, "This is my body which is given for you."...And likewise the cup after supper,
						saying, "This cup which is poured out for you is the new covenant in My blood"(Lk 22:19 - 20)
					</div>
				</div>





<h1>If you liked one of the sets of Mysteries, or know about them already, you can rate them with stars
	down below!</h1>





 <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
 </body>
 <footer ng-app="myModule" class="padds">
	  <div ng-controller="myController">
	  	   <table style="border-style:groove;">
		   		  <thead style="border-style:groove;">
				  		 <tr style="border-style:groove;">
						 	 <th style="border-style:groove;">Name</th>
							 <th style="border-style:groove;">One Star</th>
						     <th style="border-style:groove;">Two Stars</th>
							 <th style="border-style:groove">Three Stars</th>
							 <th style="border-style:goove">Four Stars</th>
							 <th style="border-style:groove;">Five Stars</th>
						  </tr>
				       </thead>
				      <tbody>
				    <tr ng-repeat="mystery in mysteries">
				        <td>{{mystery.name}}</td>
	                    <td style="border-style:groove;">
						<input type="button" value="*" ng-click="incrementOneStar(mystery)" id="jQuery">
						{{mystery.OneStar}}
						</td>
				        <td style="border-style:groove;">
						<input type="button" value="**" ng-click="incrementTwoStar(mystery)" id="jQuery">
						{{mystery.TwoStar}}</td>
					     <td style="border-style:groove;">
						 <input type="button" value="***" ng-click="incrementThreeStar(mystery)" id="jQuery">
						 {{mystery.ThreeStar}}
					   </td>
					   <td style="border-style:groove;">
					   <input type="button" value="****" ng-click="incrementFourStar(mystery)" id="jQuery">
					   {{mystery.FourStar}}
					   </td>
					   <td style="border-style:groove;">
					   <input type="button" value="*****" ng-click="incrementFiveStar(mystery)" id="jQuery">
					   {{mystery.FiveStar}}
					   </td>
				  </tr>
			</tbody>
		</table>
	</div>
</footer>
</html>
